.App {
  text-align: center;
}
.icon img {
  width: 48px;
  height: 48px; 
}
.icon{
  width: 64px;
  height: 64px;
  border: 2px double black;
  border-radius: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon:hover{
  cursor: pointer;
  background-color: grey;
}
.icon:active{
  background-color: white;
}
#buttons{
  -webkit-user-select: none; 
  -moz-user-select: none;   
  -ms-user-select: none;     
  user-select: none;   
  border: 2px solid salmon;
  width: 500px;
  height: 80px;
  margin: auto;
  display: flex;
  flex-direction: row;
  gap: 16px;
  justify-content: center;
  align-items: center;
}